h1 {
  text-align: center;
  color: blue;
}

.img {
  display: inline-block;
  margin-top: 100px;
}

img:hover {
  transform: scale(1.2);
}

section {
  position: relative;
}
.Messi {
  position: absolute;
  top: 10px;
  left: 100px;
  color: rgb(131, 9, 9);
}

.barca_text {
  position: absolute;
  top: 10px;
  left: 300px;
  color: blue;
}
.mj {
  position: absolute;
  top: 10px;
  left: 560px;
  color: rgb(39, 30, 30);
}
.nb {
  position: absolute;
  top: 10px;
  left: 880px;
  color: rgb(255, 16, 16);
}
.cz {
  position: absolute;
  top: 10px;
  left: 1050px;
  color: rgb(21, 77, 38);
}
